<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel= "icon" type= 'image/png/' href='../static/img/anchor.png'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>Rogerio</title>
</head>
<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id= 'header'>
        <section class="profile">
            <img src="../static/img/rogerio.jpg" alt="paraty">
            <h1>Rogerio Moretto</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://twitter.com/moretto_rogerio">
                    <i class="bi bi-twitter"></i>
                </a>

                <a target="_blank" href="https://www.linkedin.com/in/rogério-m-63a636b5">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a target="_blank" href="https://www.facebook.com/rogerio.moretto.5201/">
                    <i class="bi bi-facebook"></i>
                </a>

                <a target="_blank" href="https://github.com/rogeriomor">
                    <i class="bi bi-github"></i>
                </a>

            </div>


        </section>

        <nav id="nav-bar" class="nav-menu" >
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#inicio">
                    <i class="bi bi-house" aria-hidden="true"></i>
                    Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre">
                        <i class="bi bi-person" aria-hidden="true" ></i>  
                    Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#habilidades">
                        <i class="bi bi-tools" aria-hidden="true"></i>
                    Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo">
                        <i class="bi bi-file-earmark-person" aria-hidden="true"></i>
                    Curriculo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">
                        <i class="bi bi-collection" aria-hidden="true"></i>       
                    Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato">
                        <i class="bi bi-envelope" aria-hidden="true"></i>
                    Contato</a>
                </li>

              </ul>


        </nav>


    </aside>
    <main id='main' >
        <section class="row m-0 p-0" id="inicio" >
            <div class= "col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Rogério Moretto</h2>

                <span id="subtitle" class="text-white text-shadow">Gerente de Assistencia Técnica, Engenheiro, Programador, Artesão, Estudante</span>

            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center" >
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais </a>

                </div>
 
            </div>
        </section>
        <section class= 'container mt-5' id='sobre' >
            <div class="rom w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class='pt-3'>Sobre</h2>
                    <p> Engenheiro Elétrico e de Segurança do Trabalho, especializado em manutenção industrial , segurança do trabalho.<br>
                        Coordenação e supervisão de equipes técnicas, manutenção industrial <br>
                        Treinamento de equipes em assuntos relacionados a qualidade, segurança do trabalho.<br>
                                </p>

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/rog_perfil.jpg" alt="foto perfil" data-anime="left">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Gerente de Serviços Técnicos</h3>
                    <p> Responsável pela gestão de equipe técnica e administrativa da assistência técnica, incluindo setor de almoxarifado, planejamento e programação de serviços.<br>
                        Coordenação e planejamento de instalação e montagens de equipamentos em clientes. <br>
                        Responsável pela gestão de atividades relacionados a saúde e segurança do trabalho da empresa, elaboração de planos de segurança.<br>
                        Auditor interno da ISO 9001-2015.<br>
                        Elaboração de indicadores de desempenho, idealização e implantação de software de gestão do departamento de serviços.<br>
                        Gestão e planejamento dos contratos de manutenção preventiva, corretiva, Garantias, Custos de atendimento técnico.<br>       </p>
                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Aniversário: <span class="fw-lighter"> 01 de Junho</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter"> 58 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter"> Mairiporã</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter"> São Paulo </span>
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-6">
                                <li class="list-group-item">
                                    Hobby: <span class="fw-lighter"> Artesanato em madeira e Bambu </span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <a href="https://www.leistung.ind.br/" 
                                    target="blank" 
                                    class="fw-lighter text-decoration-none link-dark">Site Leistung </a> </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter"> Barueri </span>
                                </li>
                                <li class="list-group-item">
                                    Desde: <span class="fw-lighter"> 2011 </span>
                                </li>

                            </ul>

                        </div>
                    </div>
                    <p>
                        Elaboro Dashboards e Relatorios especiais em Powerbi e Excell (PowerQuery)<br>
                        Elabora relatorios especiais utilizando análise de dados com linguagem  Python e R, conhecimentos em HTML CSS.<br>
                        Atualmente em formação para Cientista de Dados.<br>
                    </p>


                    

                </div>
            </div>

        </section>
        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class='pt-5'> Habilidades</h2>
                <p>Logo abaixo vao algumas das habilidades adquiridas ao longo do tempo</p>

                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>Manutenção Industrial-Assistência Técnica</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-success" data-anime="left" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>

                        <p class='mt-3 mb-0'>Excell-Powerquery</p>
                        <div class="progress " style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-success" data-anime="left" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                          </div>

                        <p class='mt-3 mb-0' >Powerbi</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-info"  data-anime="left" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>

                        <p class='mt-3 mb-0' >Python</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-warning"  data-anime="left"  role="progressbar" style="width: 50%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">50%</div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <p class='mt-3 mb-0' >HTML-CSS</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-danger"  data-anime="left" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                        </div>

                        <p class='mt-3 mb-0' >SQL</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-danger"  data-anime="left"  role="progressbar" style="width: 5%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">5%</div>
                        </div>

                        <p class='mt-3 mb-0' >JS</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-danger"  data-anime="left" role="progressbar" style="width: 1%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">1%</div>
                        </div>

                        <p class='mt-3 mb-0' >Git</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped bg-danger"  data-anime="left" role="progressbar" style="width: 20%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>

                    </div>
                </div>

                <hr width="50%;"  size="5" class=" me-auto ms-auto">

                <div class="row">
                    <div class="col-md-6">
                        <p class='mt-3 mb-0'>Comprometimento</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped "  data-anime="left" role="progressbar" style="width: 100%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">100%</div>
                        </div>

                        <p class='mt-3 mb-0'>Aprendizado</p>
                        <div class="progress " style="height:20px;">
                            <div class="progress-bar progress-bar-striped "  data-anime="left" role="progressbar" style="width: 90%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">90%</div>
                          </div>

                        <p class='mt-3 mb-0' >Comunicação</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped "  data-anime="left"  role="progressbar" style="width: 85%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">85%</div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <p class='mt-3 mb-0' >Trabalho em Equipe</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped " data-anime="left"  role="progressbar" style="width: 90%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                        <p class='mt-3 mb-0' >Gestão de Times</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped "  data-anime="left" role="progressbar" style="width: 80%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>

                        <p class='mt-3 mb-0' >Foco em Soluções e Melhorias</p>
                        <div class="progress" style="height:20px;">
                            <div class="progress-bar progress-bar-striped "  data-anime="left" role="progressbar" style="width: 90%;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>

                    </div>
                </div>


            </div>
        </section>
        <section class="mt-5 cv" id="curriculo">
            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Curriculo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Engenharia de Saude Segurança do Trabalho</h4>
                            <h5>2010</h5>
                            <p><em> FEI </em></p>
                            <p>Pós Graduaçao em Enegenharia de Segurança do trabalho</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Engenharia Elétrica Industrial</h4>
                            <h5>1991</h5>
                            <p><em> Universidade Sã Judas Tadeu </em></p>
                            <p>Formaçao em engenharia Elétrica -Modalidade Eletronica</p>
                        </div>

                    
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Gerente Técnicos</h4>
                            <h5>2011-atual</h5>
                            <p><em> Leistung Com Serv. Sistemas de Energia Ltda. </em></p>
                            <p>Gerenciamento do Setor de Assistencia Técnica em Sistemas Nobreak </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Gerente de Assistencia Técnica</h4>
                            <h5>2010- 2011</h5>
                            <p><em> Gutenberg Maq e Materiais Graficos Ltda </em></p>
                            <p>Gerenciamento do Setor de Assistencia Técnica em Sistemas de impressão </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Engenheiro de Projetos Eletromecanicos sr</h4>
                            <h5>2005-2010</h5>
                            <p><em>RR Donnelley </em></p>
                            <p>Projetos de adaptaçao de linhas de impressão em 5 plantas,escolha e compra de  equiapmentos, conduçao de projetos e assuntos voltados a Saude e Segurança do trabalho e assuntos ambientais (EHS)</p>
                        </div>
                    </div>
                </div>

            </div>


        </section>
        <section  class="section-bg mt-5" id="portfolio">
            <div class="container pb-5 pt-5" data-anime="left">
                <h2 class="pb-4">Portfolio</h2>
                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner"><!-- aqui estao as inform do carroussel-->
                      <div class="carousel-item active" data-bs-interval="10000">
                        <!--- aqui adicionou cards pelo bootstrap-->
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col"> <!--- a col sem o md- nr de colunas, desse jeito sem mais explic se adapta ao tamnhho de coluna que vc tiver-->
                              <div class="card">
                                <img src="../static/img/gar.png" class="card-img-top" alt="Sistema Sat">
                                <div class="card-body">
                                  <h5 class="card-title">Dashboard com Powerbi</h5>
                                  <p class="card-text">Aqui efetuado um dashboard que mostra as informações e facilita a pesquisa das mesmas com o Powerbi</p>
                                  <div class="d-flex justify-content-center" >
                                      <a href="https://app.powerbi.com/links/1QTiLoIN0f?ctid=bc794139-9774-47dc-905a-b36dea8bba1f&pbi_source=linkShare&bookmarkGuid=78e0fce6-da14-4006-8721-7b4713b7ec42" target="'_blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/t2-cad-eq.png" class="card-img-top" alt="Tela de equipamentos">
                                <div class="card-body">
                                  <h5 class="card-title">Dashboard com Powerbi</h5>
                                  <p class="card-text">Aqui efetuado um outro dashboard que mostra as informações e facilita a pesquisa das mesmas com o Powerbi</p>
                                  <div class="d-flex justify-content-center" >
                                      <a href="https://app.powerbi.com/links/1QTiLoIN0f?ctid=bc794139-9774-47dc-905a-b36dea8bba1f&pbi_source=linkShare&bookmarkGuid=78e0fce6-da14-4006-8721-7b4713b7ec42" target="'_blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/casa.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">mudar depois</h5>
                                  <p class="card-text">descrição</p>
                                </div>
                              </div>
                            </div>

                        </div>
                      </div>

                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col"> <!--- a col sem o md- nr de colunas, desse jeito sem mais explic se adapta ao tamnhho de coluna que vc tiver-->
                              <div class="card">
                                <img src="../static/img/lum.jpeg" class="card-img-top" alt="Sistema Sat">
                                <div class="card-body">
                                  <h5 class="card-title">Luminaria</h5>
                                  <p class="card-text">Luminaria feita com Bambu</p>
                                  <div class="d-flex justify-content-center" >
                                      <a href="https://app.powerbi.com/links/1QTiLoIN0f?ctid=bc794139-9774-47dc-905a-b36dea8bba1f&pbi_source=linkShare&bookmarkGuid=78e0fce6-da14-4006-8721-7b4713b7ec42" target="'_blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img//fonte.jpg" class="card-img-top" alt="fonte">
                                <div class="card-body">
                                  <h5 class="card-title">Carpas</h5>
                                  <p class="card-text">Fonte das Carpas</p>
                                  <div class="d-flex justify-content-center" >
                                      <a href="https://app.powerbi.com/links/1QTiLoIN0f?ctid=bc794139-9774-47dc-905a-b36dea8bba1f&pbi_source=linkShare&bookmarkGuid=78e0fce6-da14-4006-8721-7b4713b7ec42" target="'_blank" class="btn btn-outline-prymary"><i class="bi bi-link-45deg"></i></a>

                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card">
                                <img src="../static/img/fn.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">mudar depois</h5>
                                  <p class="card-text">descrição</p>
                                </div>
                              </div>
                            </div>

                        </div>

                      </div>
                    </div>

                
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
        

        </section>
        <section class="pt-5 pb-5" id="contato">
            <div class="container mb-5 ">
                <h2 class="pt-3 pb-3">
                    Contato
                </h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i>Localização </h4>
                                <p>Mairiporã, SP</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i>Email </h4>
                                <p>rogeriol17q2@gmail.com</p>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1294.4609608957742!2d-46.653942231440105!3d-23.413943551529314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef09243a8e78d%3A0x181508e388375774!2sTv.%20das%20Pombas%20-%20Mairipor%C3%A3%2C%20SP%2C%2007600-000!5e0!3m2!1spt-PT!2sbr!4v1644280312737!5m2!1spt-PT!2sbr" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" class ="w-100"></iframe>
                        </div>

                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left"> <!--- aqui to copiando o form do bootstrap e colando aqui-->
                            <form class="row g-3">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome</label>
                                  <input type="text" class="form-control" id="nome" placeholder="Digite seu nome" name="nome">
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">Email</label>
                                  <input type="email" class="form-control" id="email" placeholder="Digite seu email" name="email">
                                </div>
                                
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" rows="14" placeholder="Digite sua mensagem" name="mensagem"></textarea>
                                </div>
                                
                                
                                <div class="col-12 d-flex justify-content-center">
                                  <button type="submit" class="btn btn-primary mt-6">Enviar mensagem</button>
                                </div>
                              </form>


                        </div>

                    </div>

                </div>

            </div>

        </section>

    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>

</body>
</html>